@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-glassy {
    background-color: rgba(11, 82, 91, 0.3);
    backdrop-filter: blur(5px) grayscale(0.5);
    -webkit-backdrop-filter: blur(5px) grayscale(0.5);
    /* For Safari */
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
}

.sideCart {
    transition: transform 0.3s ease-in-out;
    scrollbar-width: none;
} 